<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mortar &amp; Pestle</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="https://use.fontawesome.com/15c1261548.js"></script>
  </head>
  <body>
    <div class="nav-bar"><!--Start of Nav-Bar Div-->
      <div class="logo">
        <a href="#"><img src="" alt=""></a>
        <h1>Mortar &amp; Pestle</h1>
      </div>
        <ul class="nav-sections">
        <li>Home</li>
        <li>Remedies</li>
        <li>Ailments</li>
        <li>About Us</li>
      </ul>
    </div><!--End of Nav-Bar Div-->

    <script src="../../js/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="../../js/scripts.js"></script>

  </body>
</html>
