<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mortar &amp; Pestle</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400i,700,700i,900,900i|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="../Content/css/main.css">
    <script src="https://use.fontawesome.com/15c1261548.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <!--Start of Nav-Bar Div-->
        <div class="logo">
          <a href="/"><h1>Mortar &amp; Pestle</h1></a>
        </div>

        <div class="mainNavDropDown">
          <ul class="links">
            <a href="/"><li>Home</li></a>
            <a href="/remedies"><li>Remedies</li></a>
            <a href="/ailments"><li>Ailments</li></a>
            <a href="/aboutUS"><li>About Us</li></a>
          </ul>
        </div>

        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>

      </div><!--End of Nav-Bar Div-->

      <div class="about-container">
        <div class="kim-lan">

          <img src="../Content/img/cup-of-ginger-tea.jpg" alt="Ginger Tea" />
          <h2>Kimlan</h2>
          <p>Kimlan Nguyen. He likes science, sci-fi movies.</p>
          <p>Here are some of Kimlan achievements</p>
          <ul>
            <li>Graduated from PSU with a degree in Civil Engineering.</li>
            <li>Created the classic Battle Ship game during his 2nd week of intro with his classmate at Epicodus</li>
            <li>Achieve platinum 1 in League of Legends during season 6</li>
            <li>Watch</li>
          </ul>
          <p>See his projects  https://github.com/kimlan1510?tab=repositories</p>
          <p>email: kimlan1510@gmail.com</p>
        </div>
        <br>
        <div class="david">

          <img src="../Content/img/herbal-remedy.jpg" alt="Herbal Remedy" />
          <h2>David</h2>
          <p>David is a epicodus student currently in the c# track</p>
          <p>See his projects  https://github.com/davidrolfs?tab=repositories</p>
          <ul>
            <li>Graduated from CSU with a degree in Marketing.</li>
            <li>like dogs</li>
            <li>cats are cool</li>
            <li>Kimlan is my best friend</li>
          </ul>
          <p>email: rolfs97@yahoo.com</p>
        </div>
        <br>
        <div class="dylan">

          <img src="../Content/img/remedy-image3.jpg" alt="Cold Stuff" />
          <h2>Dylan</h2>
          <p>Dylan is a epicodus student currently in the Design track</p>
          <p>See his projects  https://github.com/dylandills?tab=repositories</p>
          <ul>
            <li>Graduated from Rock N Roll High School.</li>
            <li>Loves cats</li>
            <li>Death before decaf</li>
            <li>Design and JavaScript are their jam</li>
          </ul>
          <p>email: dylan.dills@gmail.com</p>
        </div>
        <br>
        <div class="leah">
          <img src="../Content/img/remedy-image2.jpg" alt="Remedy Image" />
          <h2>Leah</h2>
          <p>I'm into CSS/Design!</p>
          <p>See his projects  https://github.com/leahsherrell?tab=repositories</p>
          <p>Some of my hobbies and interests are:</p>
          <ul>
            <li>Frameworks</li>
            <li>Sleeping</li>
            <li>Knitting</li>
            <li>Reading</li>
            <li>Quiet</li>
          </ul>
          <p>email: leahsherrell@icloud.com</p>
        </div>
      </div>
    </div>
  </body>
</html>
