<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mortar &amp; Pestle</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../Content/css/main.css">
    <script src="https://use.fontawesome.com/15c1261548.js"></script>
  </head>
  <body>
    <div class="nav-bar"><!--Start of Nav-Bar Div-->
      <div class="logo">
        <a href="../Views/search.html"><img src="" alt=""><h1>Mortar &amp; Pestle</h1></a>
      </div>
      <div class="mainNavDropDown">
        <ul class="links">
          <li>Home</li>
          <li>Remedies</li>
          <li>Ailments</li>
          <li>About Us</li>
        </ul>
      </div>

        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>

    </div><!--End of Nav-Bar Div-->
    <div class="container">
      <h1>Ailment Name</h1>
      <div class="ailment-info">

      </div>
      <div class="drugstore-remedy">

      </div>
      <div class="home-remedy">

      </div>
    </div>
    <script src="../content/js/jquery-3.2.1.js"></script>
    <script src="../content/js/scripts.js"></script>
  </body>
</html>
