

Edit @Model.GetName();

<form action="/admin/diseaseCategory/edit/@Model.GetId()" method="post">


  <input type="hidden" name="_method" value="PATCH">
  <input name="category-id" type="hidden" value="@Model.GetId()">

  <label for="edit-name">Change category name</label>
  <input name="edit-name" type="text" value="@Model.GetName()">
  <button type="submit">Update</button>
</form>
