@{
  Layout="Shared/_Layout.cshtml";
}
<h1 id="card-area-header">Remedies</h1>
@if(@Model.Count !=0)
{
  <div class="card-area">
    @foreach(var remedy in Model)
    {
      <a href="/remedies/@remedy.GetId()">
      <div class="card">
        <img src="@remedy.GetImage()" alt="image of @remedy.GetName()" />
        <div class="info">
          <div class="details-title">
            <span>@remedy.GetName()</span>
          </div>
          <div class="details-body">
            <p>@remedy.GetDescription()</p>
          </div>
        </div>
      </div>
      </a>
    }
  </div>
}
