<h4>@Model.GetName()</h4>
<form action="/admin/remedy/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<p><a href="/admin">Back admin</a></p>
