<form action="/search" method="post">
  <input type="text" name="search-field" placeholder="Search here">
  <label for="category">Search For</label>
  <select name="category">
    {
      <option value="Remedy">Remedies</option>
      <option value="Disease">Diseases</option>
    }
  </select>
  <button type="submit" name="button">Search</button>
</form>

@if(@Model["remedies"].Count != 0)
{
  @foreach(var remedy in @Model["remedies"])
  {
    <li><a href="/remedies/@remedy.GetId()">@remedy.GetName()</a></li>
  }
}
@if(@Model["diseases"].Count != 0)
{
  @foreach(var disease in @Model["diseases"])
  {
    <li><a href="/diseases/@disease.GetId()">@disease.GetName()</a></li>
  }
}
