<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mortar &amp; Pestle</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400i,700,700i,900,900i|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="../Content/css/main.css">
    <script src="https://use.fontawesome.com/15c1261548.js"></script>
  </head>
  <body>
    <div class="splash-container"><!--Start of Splash Div-->
      <div class="warning-box">
        <h1>WARNING:</h1>
        <p>All content found on the Dannemiller.com Website, including: text, images, audio, or other formats were created for informational purposes only. Offerings for continuing education credits are clearly identified and the appropriate target audience is identified. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this Website.</p>
      </div>
      <button type="button" name="button">I agree</button>
    </div><!--End of Splash Div-->
    <div class="nav-bar"><!--Start of Nav-Bar Div-->
      <div class="logo">
        <a href="../Views/search.html"><img src="" alt=""><h1>Mortar &amp; Pestle</h1></a>
      </div>
      <div class="mainNavDropDown">
        <ul class="links">
          <li>Home</li>
          <li>Remedies</li>
          <li>Ailments</li>
          <li>About Us</li>
        </ul>
      </div>

        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>

    </div><!--End of Nav-Bar Div-->
    <div class="start-page"><!--Start of Start Page Div-->
      <div class="about-box">
        <div class="about-site">
          <h1>About This Site//How To Use:</h1>
          <p></p>
        </div>
        <blockquote id="random_quote">

        </blockquote>
      </div>
      <!-- <div class="search-box">
        <label for="symptom">Search by Symptom</label>
        <input type="text" name="symptom" id="symptom">
        <br>
        <label for="ailment">Ailments</label>

        <!-- Dropdown Trigger -->
        <!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a> -->

        <!-- Dropdown Structure -->
        <!-- <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
          <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
      </div> --> -->
    </div><!--End of Start Page Div-->
    <script src="../content/js/jquery-3.2.1.js"></script>
    <script src="../content/js/scripts.js"></script>
  </body>
</html>
