

.mainNavDropDown {
  display: none;
  top: 1px;
  width: 90%;
  margin: 0;
  position: absolute;
  .links{
    a {
      color: black;
      &:hover {
        color: $hover-color;
      }
    }
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    li{
      text-align: center;
      padding: 5px 0;
    }

  }

  @include respond-to('small') {
    display: flex;
    position: relative;
    width: 50%;
    .links {
      background: none;
      flex-direction: row;
      a {
        margin-left: 2em;
        margin-right: 1em;
      }
    }

  }

}

.nav-bar {
  padding: 15px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;


  .logo {
    h1 {
      margin: 0 0 10px 0;
      font-size: 1.5em;
      color: $brand-color;
      &:hover {
        color: $hover-color;
      }
      @include respond-to('large') {
        width: 200px;
        font-size: 3em;

      }
    }
  }

  @include respond-to('small') {
    padding: 100px;
  }

  @include respond-to('large') {
    width: 1200px;
  }
}
