

.mainNavDropDown{
  display: none;
  top: 1px;
  width: 95%;
  margin: 0;
  position: absolute;
  .links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    li{
      text-align: center;
      padding: 5px 0;

    }
  }
  @include respond-to ('small') {
    ul {
      margin: 0;
      list-style: none;
        li {
          display: inline-block;
      }
    }
  }
}


.nav-bar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 80px;
  width: 100vw;
  background-color: #fff;

  .logo {
    width: 100px;
  h1 {
    margin: 0;
    font-size: 1.5em;
    }
  }
}
