.card-image {
  position: relative;
  img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  }
}

.card.medium {
  width: 300px;
  margin: 10px;
}
.main-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
