.single-remedy {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  width: 600px;
}

.single-remedy-name {
  margin-top: 100px;
  @include respond-to('x-large') {
    margin-top: 160px;
  }
}

.remedy-image {

  img {
  width: 300px;
  height: 300px;
}
}

.general-info {
  margin-left: 70px;
  text-align: center;
}

.ail-effects {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  @include respond-to('small') {
    justify-content: space-between;
    margin: auto;
  }
}
.side-effects {
  p {
  padding-left: 12px;
  i {
    margin-right: 5px;
    }
  }
  @include respond-to('small') {
    margin-right: 30px;
  }
}
.ailment {
  width: 100px;
  height: 100px;
  @include respond-to('small') {
    width: 200px;
    height: 200px;
  }
}

.side-effects {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 40px;
}
.ailment h3{
  margin-left: 100px;
}
