// text input form field
.label {
  margin: auto 10px;
  font-size: 1.3em;
}

input {
  width: 300px;
  height: 40px;
  letter-spacing: .05em;
  font-size: 1.1em;
  font-weight: lighter;
  &:focus {
    border: 1px solid $hover-color;
  }
}

.search {
  width: 30vw;
  padding: 30px;
}
