/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  // border:1px solid red;
}

.columns {
  min-height: 100px;
}

/* End for testing */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  // box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


.container {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20vh;
}

#card-area-remedies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 8vh;
}
#card-area-ailments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // margin-top: 60vh;
}

#header-wrapper {
  display: flex;
  height: 20px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 225px;
  flex-direction: column;
  @include respond-to('large') {
    align-self: center;
  }
}

#card-area-header {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  margin: 0 auto;
  top: 30vh;
}

.ailment-info {
  margin: 0 auto;
}
