/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  // border:1px solid red;
}

.columns {
  min-height: 100px;
}

/* End for testing */

html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#page-header {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 3em;
}
