/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px solid red;
}

.columns {
  min-height: 100px;
}

/* End for testing */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
